body {
    padding-top: 51px;
}

section {
    padding: 25px 0;
    background-color: #F0F8FF;
}

textarea {
    resize: none;
}

.resell {
	color:#cd881d;
}

.section-intro {
}

.section-benefits {
}

.section-feedback {
}